body {
  background-color: mintcream;
}

h1 {
  color: lightseagreen;
  text-align: center;
    font-size: 65px;
    }

h2 {
    color: black;
    text-align: center;
}

p {
  font-family: georgia, serif;
  font-size: 15px;
  text-align: center;
}
