body {
  background-color: whitesmoke;
}

.topnav {
    overflow: hidden;
    background-color: dimgray;
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    z-index: 100;
}

.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 25px;
    font-size: 20px;
    font-family: avant garde, sans-serif;
}

.topnav a:hover {
    background-color: gainsboro;
    color: black;
}

.topnav a.split {
    float: left;
    background-color: teal;
    color: white;
}

#banner {
  background-image: url(img/sunflowerbackdrop.jpg);
  background-size: cover;
  background-position: bottom center;
  top: 35px;
  height: 700px;
  width: 100%;
  margin-left: 0px;
}

#banner .bannercontent h2 {
  position: relative;
  text-align: left;
  top: 80px;
  width: 350px;
  margin-right: 450px;
  margin-left: 35px;
}

#banner .bannercontent h5 {
  position: relative;
  text-align: left;
  top: 110px;
  margin-left: 35px;
}

h5 {
    color: black;
    text-align: left;
    font-size: 45px;
    font-family: impact, sans-serif;
}

.butler span {
    display: inline-flex;
    text-align: left;
    color: black;
    font-size: 45px;
    font-family: impact, sans-serif;
    animation: butler 1s 3;
}

@keyframes butler {
    0%,
    50%,
    100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20px);
    }
}

.butler span:nth-of-type(1) {
    animation-delay: 0.1s;
}

.butler span:nth-of-type(2) {
    animation-delay: 0.2s;
}

.butler span:nth-of-type(3) {
    animation-delay: 0.3s;
}

.butler span:nth-of-type(4) {
    animation-delay: 0.4s;
}

.butler span:nth-of-type(5) {
    animation-delay: 0.5s;
}

.butler span:nth-of-type(6) {
    animation-delay: 0.6s;
}

.butler span:nth-of-type(7) {
    animation-delay: 0.7s;
}

.butler span:nth-of-type(8) {
    animation-delay: 0.8s;
}

.butler span:nth-of-type(9) {
    animation-delay: 0.9s;
}

.butler span:nth-of-type(10) {
    animation-delay: 1.0s;
}

.butler span:nth-of-type(11) {
    animation-delay: 1.1s;
}

.butler span:nth-of-type(12) {
    animation-delay: 1.2s;
}

.butler span:nth-of-type(13) {
    animation-delay: 1.3s;
}

.butler span:nth-of-type(14) {
    animation-delay: 1.4s;
}

.butler span:nth-of-type(15) {
    animation-delay: 1.5s;
}

.butler span:nth-of-type(16) {
    animation-delay: 1.6s;
}

.butler span:nth-of-type(17) {
    animation-delay: 1.7s;
}

#educationx {
  margin: 25px;
}

#headshotx {
  margin-left: auto;
  margin-right: auto;
}

#skillsx {
  margin: 25px;
}

#education li {
  font-size: 15px;
}

#skills li {
  font-size: 15px;
}

div.topresumecontainer {
  display: inline-block;
  width: 25%;
  align-items: top;
  justify-content: center;
  word-wrap: break-word;
}
  
div.workcontainer {
    margin-top: 50px;
    margin-left: 50px;
    align-items: center;
}

div.workcontainer p {
  font-family: georgia, serif;
  font-size: 20px;
  text-align: left;
}

div.projectgallery {
  margin: 5px;
  border: 1px solid dimgray;
  display: inline-grid;
  width: 400px;
  justify-content: center;
}

div.projectgallery:hover {
  border: 3px solid black;
}

div.projectgallery img {
  width: 100%;
  max-height: 300px;
}

div.projgalldesc {
  padding: 10px;
  color: white;
  height: 75px;
  text-align: center;
  background-color: teal;
}

div.familypicscontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

div.aboutme {
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
}

div.aboutme p {
  font-size: 20px;
}

div.contactgallery {
  margin: 5px;
  float: left;
  width: 100px;
}

div.contactgallery:hover {
  border: 3px solid black;
}

div.contactgallery img {
  width: 100%;
  max-height: 150px;
  background-color: white;
}

div.contactdesc {
  padding: 10px;
  color: black;
  text-align: center;
  background-color: white;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div.contactform {
  position: absolute;
  margin-top: 200px;
  max-width: 400;
  max-height: 400;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

div.colx {
    font-size: 25px;
    color: black;
    font-family: georgia, serif;
    margin: 10px 2px;
}

h1 {
  color: teal;
  text-align: center;
  margin-top: 75px;
  font-size: 55px;
  font-family: geneva, sans-serif;
    }

h2 {
    color: black;
    text-align: left;
    font-size: 20px;
    font-family: avant garde, sans-serif;
}

h4 {
    font-family: georgia, serif;
    font-size: 20px;
}

h6 {
    color: black;
    text-align: left;
    font-size: 35px;
    font-family: avant garde, sans-serif;
}

p {
  font-family: georgia, serif;
  font-size: 20px;
  text-align: center;
}
