body {
  background-color: whitesmoke;
}

.topnav {
    overflow: hidden;
    background-color: dimgray;
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    z-index: 100;
}

.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 25px;
    font-size: 20px;
    font-family: avant garde, sans-serif;
}

.topnav a:hover {
    background-color: gainsboro;
    color: black;
}

.topnav a.split {
    float: left;
    background-color: teal;
    color: white;
}

#banner {
  background-image: url(img/sunflowerbackdrop.jpg);
  background-size: cover;
  background-position: bottom center;
  top: 35px;
  max-height: auto;
  max-width: 100%;
  margin-left: 0px;
}

#banner .bannercontent h2 {
  position: relative;
  text-align: left;
  top: 65px;
  width: 350px;
  margin-right: 450px;
  margin-left: 35px;
}

#banner .bannercontent h5 {
  position: relative;
  text-align: left;
  top: 110px;
  width: 350px;
  margin-right: 450px;
  margin-left: 35px;
}

#education {
  top: 100px;
  margin: 5px;
}

#headshot {
  margin-left: auto;
  margin-right: auto;
}

#skills {
  top: 100px;
  margin: 5px;
}

#education li {
  font-size: 15px;
}

#skills li {
  font-size: 15px;
}

div.topresumecontainer {
  align: center;
}
  
#workhistory {
    margin-top: 10px;
    margin-left: 25px;
    max-width: 85%;
}

div.projectgallery {
  margin: 5px;
  border: 1px solid dimgray;
  display: inline-grid;
  width: 400px;
}

div.projectgallery:hover {
  border: 3px solid black;
}

div.projectgallery img {
  width: 100%;
  max-height: 500px;
}

div.projgalldesc {
  padding: 15px;
  text-align: center;
}

div {
  margin: 25px 25px;
}

div.col {
    font-size: 25px;
    color: black;
    font-family: georgia, serif;
    margin: 10px 2px;
}

h1 {
  color: teal;
  text-align: center;
  margin-top: 75px;
  font-size: 55px;
  font-family: geneva, sans-serif;
    }

h2 {
    color: black;
    text-align: left;
    font-size: 25px;
    font-family: avant garde, sans-serif;
}

h4 {
    font-family: georgia, serif;
    font-size: 20px;
}

h5 {
    color: black;
    text-align: left;
    font-size: 55px;
    font-family: impact, sans-serif;
}

h6 {
    color: black;
    text-align: left;
    font-size: 35px;
    font-family: avant garde, sans-serif;
}

p {
  font-family: georgia, serif;
  font-size: 15px;
  text-align: left;
}
